.services {
  .main-heading {
    .p-text {
      color: var(--dark-gray-color);
    }
  }

  .services-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
  }
}
